<% provide(:title, 'Помощь')%>
<h1>Помощь</h1>
<hr>
<h2>Как завести свой список желаний?</h2>
<p>
	Для того, чтобы начать составлять свой список, сначала Вам нужно зарегистрироваться. Для этого необхомо в соответствущей форме указать Ваш адрес электронной почты и придумать пароль.
</p>
<h2>Что можно указывать в своем желании?</h2>
<p>
Как минимум, написать само желание – название и краткое описание того, что вы хотите получить. Если это книга, напишите ее название, автора и не забудьте упомянуть, что это именно книга (например так: книга "Приключения Алисы в стране чудес", Л. Кэррол). Если это мобильный телефон, можно написать так: "Мобильный телефон Nokia 6125", или так: "Мобильный телефон" и комментарий: хочу с фотокамерой, mp3-плейером и обязательно раскладушку.


Если вы написали список подарков, которые хотели бы получить на день рождения, Новый Год или Первое сентября, не забудьте указать повод.

Также можно дать ссылку на описание товара на сайте производителя или на страницу в интернет-магазине, указать ориентировочную цену и добавить фотографию.
</p>
<h2>Как добавить картинку к желанию?</h2>
<p>Есть два способа:<br>
1. Загрузить картинку с вашего компьютера, нажав кнопку "Browse".</br>
2. Eсли картинка находится на каком-либо сайте в интернете, впишите в поле адреса картинки ее полный веб-адрес (URL). Для этого нужно кликнуть правой кнопкой мыши по картинке на сайте и выбрать в выпадающем меню пункт "Скопировать адрес изображения" или "Copy Image Location". Затем зайти в форму добавления желания и вставить из буфера сохраненный адрес в поле для адреса картинки (правая кнопка мыши и пункт "Вставить" или клавиатурная комбинация Ctrl+V).
</p>

<h2>Что делать, если вы забыли пароль?</h2>
<p>
Если вы указали в настройках e-mail для восстановления пароля, вам нужно зайти по ссылке "Забыли пароль?" с первой страницы и ввести свой логин. Вы получите письмо с ссылкой, зайдя по которой вы сможете указать новый пароль.
</p>

<h2>Списки друзей (френдленты)</h2>
<p>
	Чтобы видеть все обновления в вишлистах ваших друзей на одной странице, создайте свою френдленту. Зайдите на страницу вашего друга и кликните по ссылке "Добавить в друзья", находящейся под его именем. Список можно редактировать в разделе Настройки / Список друзей.
</p>

