<footer class="footer">
  <small>
    We-like
  </small>
  <nav>
		<ul>
			<li><%= link_to "О Сервисе", about_path %></li>
			<li><%= link_to "Контакты", contact_path %></li>
		</ul> 
	</nav>
</footer>